

body
{
    background-image: url('images/background.jpg');
    height: 100%;
}

label
{
    font-size: 14px;
    font-weight: normal;
}

strong
{
    font-size: 18px;
}

.vertical-center {
  min-height: calc(100% - 15px); /*-15px from the Top Color Bar*/
  min-height: calc(100vh - 15px); /*-15px from the Top Color. Otherwise, scroll bar will appear Bar*/
      
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.logo
{
    margin-bottom: 50px;
}

.btn
{
    background-color: #F7CF46;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    min-width: 130px;
}

.form-control
{
    border-radius: 0px;
    border: 0px;
    background-color: #efefef;
    color: #606060;
    font-style: italic;
    font-size: 14px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    margin-bottom: 16px;
    margin-top: 15px;
}

h3
{
    font-size: 25px;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

h4
{
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

h6
{
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container
{
    max-width: 500px;
}

.container-narrow
{
    max-width: 350px;
}

.row
{
    margin-left: 0px;
    margin-right: 0px;
}

.color-bar
{
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
}

.color-bar [class*="col-"]
{
    height: 15px;
}

.color-bar .cyan
{
    background-color: #00BFE2;
}

.color-bar .yellow
{
    background-color: #F2CB30;
}

.color-bar .orange
{
    background-color: #E67250;
}

.color-bar .green
{
    background-color: #20A29A;
}

.rating-selector input
{
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.thumbsup
{
    background-image: url('images/thumbsup.png');
}

.thumbsdown
{
    background-image: url('images/thumbsdown.png');
}

.rating-selector input:active +.image-rating
{
    opacity: .9;
}

.rating-selector input:checked +.image-rating
{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.image-rating
{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 79px;
    height: 86px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
    filter: brightness(1.8) grayscale(1) opacity(.5);
    margin: 20px 30px;
}

.image-rating:hover
{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

a
{
    color: #606060;
    text-decoration: underline;
    font-style: italic;
    font-size: 11px;
}

.bottom-space
{
    padding-bottom: 25px;
}

